 *{
    margin:auto 0 auto 0;   
    padding: 0px;
    border:none; 
}
img{
    border:0px;
}
ul{list-style:none;}
a{
    text-decoration: none;
}
.header{            
    height:255px;
    width: 1000px;  
    background-position: top center;
    position: relative;
}
.banner{
    width: 1000px;
    height: 200px;
    background-image: url(images/banner.jpg);
    width: 1000px;
    height: 200px;    
    background-position: center;            
    margin-left: 180px;
    position: relative;
    position: relative;left: -40px; 
}
.banner img{
    margin-top: 38px;
    margin-left: 25px;       
    float: left;
}
.nav{
    height: 40px;
    width: 1000px;
    position: relative;
    font-family: '宋体';
    position: relative;left: -40px;   
}
.nav_body{
    width: 100px;
    margin-left: 180px;
    height: 40px;    
}
.nav_content{
    width: 1000px;
    height: 40px;
    font-weight: bolder;
    clear: left;
    position: relative;
}
.nav_content p{color: #FFFAFA;float:left;position:relative;top:10px;}
.nav_content ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    left:800;
}
.nav_content ul li{
    float: left;
    text-align: center;
    position: relative;
    left:800;
}
.nav_content ul li a{
    height: 40px;
    width: auto;
    text-align: center;
    line-height: 40px;
    color: #FFFAFA;
    font-weight: bold;
    float: left; 
}
.nav_content ul li a:hover{
    text-decoration: none;
    color: #FFFF00;
    float: left;
    height: 40px;
    width: auto;
    text-align: center;
}
.nav_search{
    float: right;
    position: relative;
}
.nav_content input{
    position: relative;
    top:-45px;
    left:-160px;
}
.nav_search a{
    color: #FFFAFA;
    position: relative;
    left: 30px;
    top:-30px;
}
.p6{
    width: 44px;
    height: 19px;
    background-color: #000;
    color: #fff;
    border:1px solid #fff;
    float: right;
    margin-top: 10px;

}
.p5{
    width: 140px;
    height: 17px;
    background-color: #f8f5ee;
    float: left;
    margin-top: 12px;
}


.content{
    position: relative;
    width: 1000px;
    position: relative;left: -40px;
}
.content_top{
    width: 1000px;
    height: auto;
}

.top_left{
    float: left;
    position: relative;
}
.top_left img{
    position: relative;left:180px;
}
.top_left h2{
     position: relative;left:180px;
     font-family: '微软雅黑'；
}
.top_right{
    float: left;
    width: 585px;
    position: relative;
}
.top_right li{
    position: relative;left: 200px;
    list-style:disc;
    font-family: '宋体';
    font-size: 14px;
}


.content_center{
    position: relative;
    width: 1000px;
    margin: 10px;
    padding: 10x;
}
.content_center h2{
    width: auto;
    height: auto;
    float: left;
    position: relative;left:170px;
}
.center_top{
    float: left;
    width: 1000px;
    margin: 10px;
    padding: 10x;
    position: relative;left:160px;
}
.center_bottom{
    float: left;
    width: 1000px;
    margin: 10px;
    padding: 10x;
    position: relative;left:160px;
}
.content_center img{
    float: left;
    width: 220px;
    height: 200px;
    margin: 15px;

}
.content_bottom{
    width: 1000px;
    position: relative;
    float: left;
}
.content_bottom h2{
    width: auto;
    height:20px;
    float: left;
    position: relative;left:175px;
}
.content_bottom img{
    width: 200px;
    height: 220px;
    margin: 13px;
    float: left;
    position: relative;left:120px;top: 22px;
}
.cp{
    float: left;
    position: relative;
}
.desc{
    position: relative;
    width: auto;
    height: :auto;
    position: relative;left: 190px;top:15px;
    color: #F08080;
}
a:link img{opacity:0.5;}
a:hover img{opacity:1;}


.footer{
            
    width: 1000px;
    height: 150px;
    background-image:url(images/foot.gif);
    margin-left: 180px;
    float: left;
    position: relative;
 }

.footer a{
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    float: left;
    position: relative;left:-10px;top: 10px;
    color: black;
}
.l1{
    margin-left: 220px;
    height: 50px;
    float: left;
}
.footer img{
    height: 1px;
    width: 1000px;
    position: relative;left: -30px;
}
.e1 p{
    height: 20px;
    width: 500px;
    margin-left: 200px;
    margin-bottom: 0px;
    position: relative;left:30px;
}
.e2 p{
    height: 12px;
    width: 500px;
    margin-left: 160px;
    margin-top: 0px;
    position: relative;left:105px;
}

