*{
    margin:auto 0 auto 0;   
    padding: 0px;
    border:none; 
}
img{
    border:0px;
}
a{
    text-decoration: none;
}
.header{            
    height:255px;
    width: 1000px;  
    background-position: top center;
    position: relative;
}
.banner{
    width: 1000px;
    height: 200px;
    background-image: url(images/banner.jpg);
    width: 1000px;
    height: 200px;    
    background-position: center;            
    margin-left: 180px;
    position: relative;
    position: relative;left: -40px; 
}
.banner img{
    margin-top: 38px;
    margin-left: 25px;       
    float: left;
}
.nav{
    height: 40px;
    width: 1000px;
    position: relative;
    font-family: '宋体';
    position: relative;left: -40px;   
}
.nav_body{
    width: 100px;
    margin-left: 180px;
    height: 40px;    
}
.nav_content{
    width: 1000px;
    height: 40px;
    font-weight: bolder;
    clear: left;
    position: relative;
}
.nav_content p{color: #FFFAFA;float:left;position:relative;top:10px;}
.nav_content ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    left:800;
    list-style: none;
}
.nav_content ul li{
    float: left;
    text-align: center;
    position: relative;
    left:800;
}
.nav_content ul li a{
    height: 40px;
    width: auto;
    text-align: center;
    line-height: 40px;
    color: #FFFAFA;
    font-weight: bold;
    float: left; 
}
.nav_content ul li a:hover{
    text-decoration: none;
    color: #FFFF00;
    float: left;
    height: 40px;
    width: auto;
    text-align: center;
}
.nav_search{
    float: right;
    position: relative;
}
.nav_content input{
    position: relative;
    top:-45px;
    left:-160px;
}
.nav_search a{
    color: #FFFAFA;
    position: relative;
    left: 30px;
    top:-30px;
}
.p6{
    width: 44px;
    height: 19px;
    background-color: #000;
    color: #fff;
    border:1px solid #fff;
    float: right;
    margin-top: 10px;

}
.p5{
    width: 140px;
    height: 17px;
    background-color: #f8f5ee;
    float: left;
    margin-top: 12px;
}



.content{
    width: 1000px;
    position: relative;
    float: left;
}
.content_top{
    width: 1000px;
    position: relative;
}
 .bt{
    position: relative;
}
.bt h4 a{
    width: auto;
    position:relative;
    left: 138px;
    color:black;
}
.top_left {
    position: relative;
    width: 100px;
}
.top_left ul{
    margin: 0px;
    padding: 0px;
    position: relative;
    list-style:circle; 
}
.top_left ul li{
    text-align: center;
    position: relative;
    
}
.top_left ul li a{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: black;
    background-color: #F0FFFF;
    position: relative;
    left: 170px;
    top: 30px;
}
.top_left ul li a:hover{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #00FFFF;
}
.top_right{
    width: 900px;
    float: right;
    position: relative;
}
.top_right img{
    width: 830px;
    height:260px;
    float: right;
    position: relative;
    left: 140px;
    top: -220px;
}
.content_center{
    position: relative;
    width: 1000px;
}

.center {
    width: 1000px;
    height:300px;
    float: left;
    position: relative;
}
.center img{
    width: 300px
    height:300px;
    float: left;
    position: relative;
    top: -180px;
    left: 142px;
}
/*.center{
    position: relative;
    width: 700px;
    height: 300px;
    float:left;
}*/
.center ul{
    margin: 0px;
    padding: 0px;
    position: relative;
    list-style:none; 
}
/*.center ul li{
    width:900px;
    text-align: left;
    position: relative;
    left:200px;
    top:-380px;    
}*/
.center ul li a{
    width: 650px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    color: black;
    position: relative;
    left:200px;
    top:-170px;    
    float:left;

}
.center ul li a:hover{
    /*width:850px;
    height: 40px;
    line-height: 40px;
    text-align: center*/;
    color: blue;
   /* position: relative;
    left:210px;    */
}
.center_right ul li a{
    list-style:none;
}
.bottom{
    float: left;
    width: 1000px;
    position: relative;
}
.content_bottom{
    position: relative;
    width: 1000px;
}
.bt2 h4{
    float: left;
    position: relative;
    left: 140px;
    top: -250px;
    color: black;
}
.content_bottom form{
    position: relative;
    left: 140px;
    top:-240px;
}




.footer{
            
    width: 1000px;
    height: 150px;
    background-image:url(images/foot.gif);
    margin-left: 180px;
    float: left;
    position: relative;
 }

.footer a{
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    float: left;
    position: relative;left:-10px;top: -230px;
    color: black;
}
.l1{
    margin-left: 220px;
    height: 50px;
    float: left;
}
.footer img{
    height: 1px;
    width: 1000px;
    position: relative;left: -40px;
    top: -240px;

}
.e1 p{
    height: 20px;
    width: 500px;
    margin-left: 200px;
    margin-bottom: 0px;
    position: relative;left:30px;
    top: -230px;
}
.e2 p{
    height: 12px;
    width: 500px;
    margin-left: 160px;
    margin-top: 0px;
    position: relative;left:105px;
    top: -230px;
}